@font-face {
  font-family: "iconfont"; /* Project id 2799148 */
  src: url('iconfont.woff2?t=1631699281965') format('woff2'),
       url('iconfont.woff?t=1631699281965') format('woff'),
       url('iconfont.ttf?t=1631699281965') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiehuan:before {
  content: "\e609";
}

.icon-bianji:before {
  content: "\e6a2";
}

.icon-xianxingtubiaozhizuomoban-02:before {
  content: "\e618";
}

.icon-minus-circle-fill:before {
  content: "\eb41";
}

.icon-web__zanwujilu:before {
  content: "\e636";
}

.icon-tuichu:before {
  content: "\e85f";
}

.icon-youhuiquan:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e62c";
}

