@font-face {
  font-family: "iconfont"; /* Project id 2799148 */
  src: url('iconfont.woff2?t=1631094223766') format('woff2'),
       url('iconfont.woff?t=1631094223766') format('woff'),
       url('iconfont.ttf?t=1631094223766') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e62c";
}

