* {
	box-sizing: border-box;
	margin: 0;
	font-size: $font-base;
}

view,
label {
	font-size: $font-base;
	box-sizing: border-box;
}

page {
	padding-bottom: 100rpx;
	color: #333;
	box-sizing: border-box;
	width: 100%;
	box-sizing: border-box;
}

.container {
	background-color: transparent;
	width: 100%;
}

.cell-hover {
	background: #f7f7f9 !important;
}

.card-hover {
	background: #f3f3f3 !important;
}


view {
	display: block;

}

image {
	width: 320px;
	height: 240px;
	display: inline-block;
	overflow: hidden;
}

.view {
	padding-left: 30rpx;
	padding-right: 30rpx;
}

page {
	background: #F0F3FF;
}

/* 卡片 */
.public-card {
	width: auto;
	padding: 25rpx 10rpx 25rpx 20rpx;
	border-radius: 20rpx;
	box-shadow: 0px 1px 5px #e4e5e8;
	background: #FFFFFF;
	box-sizing: border-box;
	padding-bottom: 65rpx;
}

.public-card text{
	display: block;
}

.public-card {
	/* padding: 0rpx !important; */
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 30rpx;
	/* align-items: center; */
}

	.card-text-lb {
		display: flex;
		flex-wrap: wrap;
	}

	.card-text-lb>label {
		flex: 2;
	}

	.card-text-lb>view {
		flex: 7;
		/* font-size: $font-base-sm; */
	}

	.card-text label {
		font-size: $font-base-sm;
		width: 150rpx;
		display: block;
	}

.card-img {
	width: 300rpx;
	height: 200rpx;
	border-radius: 30rpx;
	overflow: hidden;
}

.card-img image {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-text {
	margin-left: 30rpx;
	font-size: $font-base;
	/* font-weight: bold; */
	width: 440rpx;
	color: #727281;
}

.card-text>view {
	margin-top: 10rpx;
	font-size: $font-base;
}
.card-text>text {
	margin-top: 20rpx;
	font-size: $font-base;
}

.card-text label {
	font-size: $font-base-sm;
	color: #b3b3b3;
}

.card-text .top {
	margin-top: 0rpx;
	font-weight: bold;
	font-size: $font-bg;
}

.card-tip-top {
	position: absolute;
	top: 25rpx;
	right: 25rpx;
	width: 100rpx;
	height: 40rpx;
	font-size: $font-sm;
	padding: 5rpx 15rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30rpx;
	font-weight: bold;
	box-sizing: content-box;
}

.card-tip-bottom {
	position: absolute;
	bottom: 25rpx;
	right: 30rpx;
	font-size: $font-sm;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #b3b3b3;
}
